html,body{
    height: 100%;
    width: 100%;
}

#head{
    margin-bottom: 20px;
    background-color: black;
    height: 10%;
    width: 100%;

}

#main{

    height: 90%;
    width: 100% ;
}

.parts{
    display:flex;
    height: 50%;
    width: 100%;
}
.photo{
    background-color: black;
   
    height: 50%;
    width: 33.33%;
}