*{
    padding: 0;
    margin: 0;
}

html, body {
  height: 100%;
  width: 100%;  
}


#main{
    height: 100%;
    width: 100%;

}


#whiteray{
    height: 40%;
    width: 100%;
    background-color: aliceblue;
}

#acces{
    display: flex;
    height: 15%;
    width: 100%;
    
}

h3{
    margin: auto;
}
#content{
    display: flex;
    height: 100%;
    width: 35%;
}

#fill{
    height: 100%;
    width: 45%;
}

.mar{
    margin-left: 2px solid black;
}
#sector{
    display: flex;
    align-items: end;
    height: 100%;
    width: 20%;
}
#indexx{

    display: flex;
    height: 25%;
    width: 100%;
    background-color: brown;
    
}

#png{
    height: 100%;
    width: auto;
    padding: 20px ;

}

#find{
    align-items: center;
    
    height: 100%;
    width: 60%;
}
#find1{
    margin-top: 15px;
    width: 70%;
    height: 45%;
    margin-left: 15%;
}

#account{

    /* border: 5px solid black; */
}



#acc{
      width: 40%;
    height: 100%;

    
    
}
#png2{
    transform: matrix(2033px.2330px);
    
    margin-top: 20px;
    height: 30px;
    width: 30px;
}

#producsscroll{
     height: 15%;
    width: 100%;
   
}

#runway{
    height: 65%;
    width: 100%;
    
}




#blueray{
    height: 60%;
    width: 100%;
    
}