* {
    padding: 0;
    margin: 0%;
}

html,body{
    
    height: 100%;
    width: 100%;
}

#main{
    
    height: 100%;
    width: 100%;
}

#right{
    text-align: center;
   justify-content: center;
    align-items: center;
    background: #3249e3;
    height: 100%;
    width: 35%;
   
}

#top{
    height: 17%;
    width: 100%;
}


#imm{
    
    background: blueviolet;
    
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

image{
    
    height: auto;
    width: auto;
}

#left{
    height: 100%;
    width: 60%;
}

#mainname{
    margin-top: 0%;

}

img{    

    
    margin-top: 10px;
    border-radius: 50%;
     height: 120px;
    width: 120px;
}

