* {
    padding: 0;
    margin: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

#head{

    display: flex;
    border: 2px;
    height: 10%;
    width: 100%;
}

#body{
    background-color: rgb(162, 108, 111);
    width:100%;
    height: 90%;
}


#android{
    margin-left: 10px;
    margin-top: 10px;
    height:100%;
    width: 20%;

}

.kk{
    font-weight: bold;
    margin-inline: 60px;
   
}
#text{
    margin-inline: 30px;
    align-items: center;
    display: flex;
    background-color: blue;
    height:100%;
    width:40%;

}


#elements{
    display: flex;
    background-color: black;
    height:100%;
    width: 40% ;

}

