*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

nav{
    width: 100%;
    height: 60px;
    background: #0f1111;
    display: flex;
}

.dnev{
    color: #f08804;
    margin-top: 18px;
}
.nev{
   
    margin-left: 200px;
    margin-top: 18px;
}

h4{
     text-decoration: none;                               
    color: aliceblue;
}

#bu{
    color: aliceblue;
    width: 50px;
    background: #f08804;
}